body {
    background-color: rgba(39, 9, 173, 0.87);
    text-align: center ;
}

h1 {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 254, 254);  /* cor norma */
    text-decoration: none; /* remove sublinhado */
    font-size: 150%;
}

